.icono-IA {
    width: 30px; 
    height: auto;
    margin-right: 1px; 
}

#banner{
    width: 100%; 
    height: 100%;
}

#docente{
    width: 100%; 
    height: 100%;
}

.contenedor2 img{
    width: 300px; 
    height: 200px;
    margin-right: 10px; 
    border-radius: 50%;
    border-style: groove;
    border-color: gray;
}