* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #3b3b3b;
    color: #fff;
    padding: 10px 0;
}

.contenedor1 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: 24px;
    text-align: center;
}

nav {
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    
}

nav a:hover {
    background-color: rgb(85, 85, 85);
}

.icon-menu {
    display: none;
}

#logo{
    text-decoration: none;
    color: white;
}

#menu-bar {
    display: none;
}
#bienvenidos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

#titulobienvenidos{
    font-size: 40px;
    line-height: 1.6;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#somos{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

#titulosomos{
    font-size: 40px;
    line-height: 1.6;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#blog h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

.contenedor2{
    text-decoration: none;
    color: black;
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tituloimagenes{
    font-size: 40px;
    line-height: 1.6;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Texto{
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

.Texto h1{
    font-size: 40px;
    line-height: 1.6;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Texto h3{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    text-align: left;
}

#docentes1{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

.Texto p{
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    text-align: left;
}

#alumnos1{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

#instituciones1{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

#instituciones2{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    text-align: left;
}

#links{
    text-decoration: none;
    color: blue;
}

.centradoalumno h2{
    font-size: 40px;
    animation-duration: 3s;
    animation-name: Deslizamiento;
}

.centradoalumno p {
    animation-duration: 3s;
    animation-name: Deslizamiento;
}

.centrado h2{
    font-size: 40px;
    animation-duration: 3s;
    animation-name: Deslizamiento;
}

.centrado p {
    animation-duration: 3s;
    animation-name: Deslizamiento;
  }
  
  @keyframes Deslizamiento {

    0% {opacity: 0%;}
    25% {opacity: 50%;}
    50% {opacity: 100%;}

    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 15%;
      width: 100%;
    }
  }
  
.contenedor1{
    animation-name: letras;
    animation-duration: 1.5s;
}

@keyframes letras {
    0% {opacity: 0%;}
    25% {opacity: 25%;}
    50% {opacity: 50%;}
    75% {opacity: 75%;}
    100% {opacity: 100;}
}
